* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 600px;
    -webkit-box-shadow: inset 550px -1px 59px -10px rgba(31, 31, 31, 0.9);
    -moz-box-shadow: inset 550px -1px 59px -10px rgba(31, 31, 31, 0.9);
    box-shadow: inset 550px -1px 59px -10px rgba(31, 31, 31, 0.9);
    background: black;
    background-image: url('./assets/backgroud-cris.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.2;
    color: #fff;
}
header {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100vmax;
    background-color: black;
}
img#alphaflix {
    margin-top: 5px;
    margin-left: 30px;
}
aside {
    width: 40px;
}
.imagem_de_fundo {
    position: absolute;
    margin-left: 60px;
    top: 18vh;
    width: 500px;
    font-size: 16px;       
}
.play {
    position: absolute;
    left: 800px;
    bottom: 200px;

}
#title {
    margin-top: 30px;
}
h4#information {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(156, 156, 156);
}
.inf-series {
    margin-top: 30px;
    margin-bottom: 20px;
}
.name {
    color: rgb(156, 156, 156);
}
.icones {
    color: #fff;
}