body{
  margin: 0;
  display: flex;
  flex-direction: column;

  position: relative;

  box-sizing: border-box;
  overflow-x: hidden;

  max-height: 100vh;
  width: 100vw;

  background-color: #181818;
  color: #fff;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

div {
  display: block;
}

.header{
  position: fixed;
  height: 3rem;
  padding: 1rem;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  background-color: #000;
}

.header a:hover {
  cursor: pointer;
}

.section-hero {
  padding: 5vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 100vh;
  background-position: center right;
  line-height: 1.4;
  overflow: hidden;
  
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  padding: 16px 32px 64px 0;
  z-index: 2;
  position: relative;

  top: -1rem;
  height: 100vh;
  background: linear-gradient(to right,#181818 10%,rgba(23,23,23,.98) 20%,rgba(23,23,23,.97) 25%,rgba(23,23,23,.95) 35%,rgba(23,23,23,.94) 40%,rgba(23,23,23,.92) 45%,rgba(23,23,23,.9) 50%,rgba(23,23,23,.87) 55%,rgba(23,23,23,.82) 60%,rgba(23,23,23,.75) 65%,rgba(23,23,23,.63) 70%,rgba(23,23,23,.45) 75%,rgba(23,23,23,.27) 80%,rgba(23,23,23,.15) 85%,rgba(23,23,23,.08) 90%,rgba(23,23,23,.03) 95%,rgba(23,23,23,0) 100%);
}

.logo-container {
  position: relative;
  width: 100%;
}

.logo {
  width: 100%;
  height: auto;
}

img {
  border: 0;
}

.details-container {
  margin: 40px 0 22px 0;
}

.title-info-metadata-item {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: #a3a3a3;
  display: inline-block;
}

.info-spacer {
  color: #a3a3a3;
  margin: 0 4px;
}

.maturity-number {
  border: 1px solid #a1a1a1;
  padding: 0 5px;
}

.title-info-synopsis-talent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;    
  align-items: flex-start;
  max-width: 100%;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.title-info-synopsis {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  max-width: 100%;
  padding-top: 16px;
}

.title-info-talent {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  max-width: 100%;
  padding-top: 16px;
}

.title-data-info-item-label {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #a3a3a3;
  margin-right: 5px;
}

.title-data-info-item-list {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
}

.hero-image-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  z-index: 1;
  max-height: 100vh;
  padding-bottom: 55%;
}

.hero-image {
  position: absolute;
  right: -15%;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/loki-banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: small;
  color: #ffffff00;
}

.hero-image figure figcaption{
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.hero-image figure:hover figcaption{
  color: #ffffff;
  background-color: #000;
  padding: 4px;
}

.hero-image figure:hover{
  cursor: pointer;
}

a {
  all: unset;
}

.modal-play img {
  width: 5rem;
  height: auto;
}

.modal{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal-dialog iframe{
  width: 60vw;
  height: 70vh;
  margin: 15vh 20vw;
  display: block;
}

.close{
  position: absolute;
  top: 56px;
  right: 56px;

  width: 34px;
  height: 34px;
}

.close:hover {
  cursor: pointer;
}

.hidden{
  display: none;
}
